<%- include('../partials/header') %>
    <h2>Add a New Ticket</h2>
    <form class="new-form" action="/flights/<%= flight.id %>/tickets" method="POST">
    <label>Seat Number:
        <input name="seat" required pattern="[A-F][1-9]\d?">
    </label><br>
    <label>Seat Price:
        <input type="number" name="price">
    </label><br>
    <input type="submit" value="Add Ticket">
    </form>
<%- include('../partials/footer') %>